absl-py
flax
jax[cuda12_pip] -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
ml-collections
numpy
optax
git+https://github.com/deepmind/distrax.git
tensorflow
tensorflow-datasets
tqdm
cloudpickle
dill
wandb
scikit-image
gcsfs
torch
torchvision
git+https://github.com/openai/CLIP.git
dopamine-rl
einops
gym[atari,accept-rom-license]
transformers
opencv-python-headless
git+https://github.com/stepjam/PyRep.git
git+https://github.com/stepjam/RLBench.git
git+https://github.com/stepjam/YARR.git
pyrender
cffi
pyquaternion
